/* _fonts.scss */


@font-face {
    font-family: 'proxima_novalight';
    src: url('../fonts/proximanova-light_copy-webfont.eot');
    src: url('../fonts/proximanova-light_copy-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-light_copy-webfont.woff') format('woff'),
         url('../fonts/proximanova-light_copy-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-light_copy-webfont.svg#proxima_novalight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_novablack';
    src: url('../fonts/proximanova-black_copy-webfont.eot');
    src: url('../fonts/proximanova-black_copy-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-black_copy-webfont.woff') format('woff'),
         url('../fonts/proximanova-black_copy-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-black_copy-webfont.svg#proxima_novablack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_rgbold';
    src: url('../fonts/proximanova-bold_copy-webfont.eot');
    src: url('../fonts/proximanova-bold_copy-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-bold_copy-webfont.woff') format('woff'),
         url('../fonts/proximanova-bold_copy-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-bold_copy-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_novasemibold';
    src: url('../fonts/proximanova-semibold_copy-webfont.eot');
    src: url('../fonts/proximanova-semibold_copy-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-semibold_copy-webfont.woff') format('woff'),
         url('../fonts/proximanova-semibold_copy-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-semibold_copy-webfont.svg#proxima_novasemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('../fonts/proximanova-regular_copy-webfont.eot');
    src: url('../fonts/proximanova-regular_copy-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-regular_copy-webfont.woff') format('woff'),
         url('../fonts/proximanova-regular_copy-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-regular_copy-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}